<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false"
         beStrictAboutTestsThatDoNotTestAnything="false" beStrictAboutOutputDuringTests="true"
         bootstrap="vendor/autoload.php" colors="true" failOnRisky="true" failOnWarning="true"
         processIsolation="false" stopOnError="false" stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
         cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <coverage/>
  <testsuites>
    <testsuite name="kolay-auth Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <exclude>
      <file>src/Providers/AbstractServiceProvider.php</file>
      <file>src/Providers/LaravelServiceProvider.php</file>
      <directory suffix=".php">src/Facades/</directory>
      <directory suffix=".php">src/Console/</directory>
    </exclude>
  </source>
</phpunit>
